<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.altaworks.kokaihop.ui"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="kokaihop.databundle.DatabaseBundlingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.kokaihop.city.SelectCityActivity"
            android:label="@string/app_name">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>