<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.altaworks.kokaihop.ui"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.kokaihop.KokaihopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>

        <activity
            android:name="com.kokaihop.home.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.kokaihop.authentication.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AuthenticationTheme">
        </activity>
        <activity
            android:name="com.kokaihop.authentication.signup.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AuthenticationTheme">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.kokaihop.authentication.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AuthenticationTheme"/>
        <activity
            android:name="com.kokaihop.city.CityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.kokaihop.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="89bc1de20821702ad15f1584b5ca90b908e4fbd3"/>

        <activity
            android:name="com.kokaihop.recipedetail.RecipeDetailActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.kokaihop.editprofile.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.kokaihop.editprofile.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.kokaihop.editprofile.EmailPreferencesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.kokaihop.editprofile.EditProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.kokaihop.recipedetail.AddToCookBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.kokaihop.comments.ShowAllCommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.kokaihop.userprofile.OtherUserProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.kokaihop.comments.ReplyCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.kokaihop.cookbooks.CookbookDetailActivity">
        </activity>
        <activity
            android:name="com.kokaihop.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.kokaihop.base.BaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.kokaihop.home.AddIngredientActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <service android:name="com.batch.android.BatchPushService"/>

        <receiver
            android:name="com.batch.android.BatchPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.batch.android.BatchPushInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:name="com.kokaihop.batch.PushService"/>

        <receiver
            android:name="com.kokaihop.batch.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.kokaihop.customviews.NotificationDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
    </application>

</manifest>